*{
    padding: 0;
    margin: 0;
}
.page{
    width: 375px;
    height: 730px;
    background-image:url(background.jpg);
    margin: 0;
}
.bottom input[type="p"]{
    width: 50px;
    text-indent: 5px;
    color: rgb(75, 71, 71);
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 25%;
    
}
.bottom{
    position: absolute;
    bottom:14px;
    left:20px;
    
}
.bottom input[type="j"]{
    width: 50px;
    text-indent: 5px;
    color: rgb(75, 71, 71);
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 25%;
    position: relative;
    left:20px;

}
.bottom input[type="s"]{
    width: 75px;
    text-indent: 7.5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: rgb(75, 71, 71);
    border-radius: 25%;
    position: relative;
    left:38px;
}
.bottom input[type="m"]{
    width: 100px;
    text-indent: 10px;
    color: rgb(75, 71, 71);
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 25%;
    position: relative;
    left:48px;
}
.head input[type="t"]{
    width: 126px;
    color: rgb(187, 20, 20);
    border: 1px solid rgb(189, 16, 16);
    position: relative;
    left:120px;
    top:15px
}
.picture{
    width: 375px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom:0px;
    filter: blur(5%)
}
.title{
    font-style: italic;
    font-size: 30px;
    color: rgb(221, 63, 97);
    position: absolute;
    bottom: 140px;
    left:120px;
    cursor: pointer;
    transition:All 0.3s ease;
}
.title:hover {
    transform:translate(25px,0);
}

.at{
    position: absolute;
    bottom:195px;
    left:128px;
    color: rgb(80, 35, 35);
    font-size: 15px;
}
.sign img{
    width: 35px;
    height:30px;
    margin: 0;
    position: absolute;
    left:40px;
    top:50px;
    cursor: pointer;
}
.position img{
    width: 9px;
    height: 17px;
    margin: 0;
    position: absolute;
    left: 274px;
    top: 17px;
}
.repost img{
    width: 20px;
    height: 32px;
    margin: 0;
    position: absolute;
    top:50px;
    left:250px;
    cursor: pointer;
}
.city{
    position: absolute;
    left: 290px;
    top: 17px;
    font-size: 16px;
    color: rgb(75, 71, 71);
}
.sign-in{
    position: absolute;
    left:80px;
    top:50px;
    color: rgb(204, 45, 45);
    cursor: pointer;
}
.repost-on{
    position: absolute;
    left: 280px;
    top: 50px;
    font-size: 15px;
    color: rgb(163, 106, 30);
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
}
.swiper-container {
    width: 375px;
    height: 812px;
    position: relative;
    top:-812px;
    animation:ani_move 2s ease-in;
    animation-fill-mode:forwards;
}
  
@keyframes ani_move{
0%{
    transform: translate(0px,0px)
    }
30%{
    transform: translate(0px,0px)
   }
100%{
    transform: translate(0px,-812px);
}
}
.view{
    width: 375px;
    height: 812px;
    overflow: hidden;
}
.view.special{
    background-image:linear-gradient(60deg,#f8ddd1,#faece5 73%,#fad2c0)
}
.moon{
    position: absolute;
    width: 283px;
    height: 283px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/sun.a3f575ae2fef2cfdae15011e6081a094.png);
    background-size: 100%;
}
.art{
    transform: scale(0.5);
    position: absolute;
    width: 375px;
    height: 812px;
    right: 150px;
    top: 50px;
    /*原本的位置是center center*/
    transform-origin: top right;
}
.swing{
    position: absolute;
    left: 226px;
    top: -180px;
    width: 478px;
    height: 1038px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/swing.88545d6c8e1ac798465e367f8e5357ab.png);
    animation: ani_qiuqian 6s ease-in-out infinite;
    transform-origin: -16% -29%;
}
@keyframes ani_qiuqian{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    
    }
}
.leg2{
    display: block;
    position: absolute;
    left: 185px;
    top: 958px;
    width: 130px;
    height: 32px;
    background-image:url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2.d7bc44a91b6974450f2ccc430846c63d.png);
    animation: ani_leg2 8s ease infinite;
    transform-origin: 91% 33%;
}
@keyframes ani_leg2{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-86deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-86deg);
    }
    100%{
        transform: rotate(0);
    }
}
.leg1{
    display: block;
    position: absolute;
    left: 185px;
    top: 958px;
    width: 130px;
    height: 32px;
    background-image:url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2.d7bc44a91b6974450f2ccc430846c63d.png);
    animation: ani_leg1 8s ease infinite;
    transform-origin: 91% 33%;
}
@keyframes ani_leg1{
    0%{
        transform: rotate(-86deg);
    }
    25%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-86deg);
    }
    75%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-86deg);
    }
}
.jiojio{
    display: block;
    position: absolute;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2-part.8f70bb7fc789a70bc78c48aa7718a765.png) no-repeat;
    left: -38px;
    top: -17px;
    width: 57px;
    height: 44px;
    animation: ani_jiojio 8s ease infinite;
    transform-origin: 86% 33%;
}
@keyframes ani_jiojio{
    0%{
        transform: rotate(-40deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-40deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-40deg);
    }
}
.juan{
    position: absolute;
    right: 0;top: 0;
    width: 483px;
    height: 159px;
    transform: scale(.5);
    transform-origin: top right;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/juan3.1c58874dbcd7f233bf027e9332ea6d96.png)no-repeat
}
.z-juanAni{
    animation: juanAnimation .5s steps(1);
}
@keyframes juanAnimation{
    0%{
        background-position: 0 0;
    }
    3.7%{
        background-position: -483 0;
    }
}
.part{
    background:url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/head-part.22d4381c4bd6cb1c3afd2b1bfcfe22f1.png) no-repeat;
    display: block;
    position: absolute;
    left: 451.125px;
    top: 855.5px;
    width: 51px;
    height: 42px;
    animation: ani_part 8s ease infinite;
}
@keyframes ani_part{
    0% {
    transform: rotate(0deg);
}
25% {
    transform: rotate(-55deg);
}
62.5% {
    transform: rotate(-55deg);
}
87.92% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}
}

#login_a{
    position: absolute;
    left:65px;
    top:110px;
    width: 250px;
    height: 322px;
    transition: all 0.6s;
    background-image: url(dior.png);
    background-size: 101%;
}
#login_a:hover {
    transform: scale(1.2);
}
#login_b{
    position: absolute;
    left:65px;
    top:117px;
    width: 195px;
    height: 255px;
    cursor: pointer;
    transition: all 0.6s;
    background-image: url(bag.png);
    background-size: 101%;
}

#login_b:hover {
    transform: scale(1.2);
}
#login_c{
    position: absolute;
    left:65px;
    bottom:210px;
    width: 250px;
    height: 127.5px;
    cursor: pointer;
    transition: all 0.6s;
    background-image: url(hotwind.png);
    background-size: 101%;
}
#login_c:hover {
    transform: scale(1.2);
}
#click_a{
    width: 40px;
    height: 45px;
    margin: 0;
    position: absolute;
    bottom:47px;
    left:23px;
    cursor: pointer;
    background-image: url(prada.png);
    background-size: 101%;
}
#click_b{
    width: 40px;
    height: 45px;
    margin: 0;
    position: absolute;
    bottom:40px;
    left:103px;
    cursor: pointer;
    background-image: url(jiedao.png);
    background-size: 105%;
}
#click_c{
    width: 40px;
    height: 45px;
    margin: 0;
    position: absolute;
    bottom:47px;
    left:191px;
    cursor: pointer;
    background-image: url(shop.png);
    background-size: 101%;
}
#click_d{
    width: 60px;
    height: 45px;
    margin: 0;
    position: absolute;
    bottom:50px;
    left:280px;
    cursor: pointer;
    background-image: url(money.png);
    background-size: 120%;
    background-position: 50%;
}